@matthill8286:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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
@USERNAME:registry=https://npm.pkg.github.com/@matthill8286
registry=https://registry.npmjs.org
