@matthill8286:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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
@USERNAME:registry=https://npm.pkg.github.com/@matthill8286
registry=https://registry.npmjs.org
